/examples/.dn/cache
/examples/.dn/ide.lock
/examples/.dn/tmp
/examples/.dn/index.json
/examples/.dn/backup

/examples/vendor
/examples/src_generated
/examples/src/JPHP-INF
/examples/src/.debug
/examples/build
/examples/build.xml
/examples/build.gradle
/examples/settings.gradle

/src-bundle/META-INF/*

*.log
*.pid
*.tmp
*.sourcemap